<section>
  <h2><%= @group.name %></h2>
  <span>$<%= @group.items.reduce(0) { |total, element| total + element.amount } %></span>
</section>
<section>
  <%= @group.items.length.zero? ? render(partial: "partials/empty", locals: { name: "items" }) : render(partial: "items/item", collection: @group.items) %>
</section>
<%= link_to("Add a new item", new_item_path) %>