<section class="splash">
  <h1>Grocery Budget</h1>
</section>
<ul class="buttons">
  <li><%= link_to("Login", new_user_session_path) %></li>
  <li><%= link_to("Register", new_user_registration_path) %></li>
</ul>